@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Iron Framwork</h1>
    <p class="lead">Domain Driven Design(DDD),Layered architecture,Aspect-oriented programming(AOP) rapid development infrastructure</p>
    <p><a href="https://github.com/megadotnet/ironframework" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Employee", "Find", "Employee")</h2>
    </div>
</div>