@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Iron Framwork</h1>
    <p class="lead">Domain Driven Design(DDD),Layered architecture,Aspect-oriented programming(AOP) rapid development infrastructure focus on enterprise solution based on Microsoft .Net Framework. Combine with Entity Framework, Enterprise Library, WCF, Asp.net MVC components implement:
        <ul class="list-group">
            <li class="list-group-item">Layered Architecture</li>
            <li class="list-group-item">DDD (Domain Driven Design)</li>
            <li class="list-group-item">AOP (Aspect-oriented programming)</li>
            <li class="list-group-item">Service-Oriented Architecture</li>
            <li class="list-group-item">Restful Service</li>
        </ul>There architectural styles offer flexible extension and rapid developed infrastructure.</p>
    <p>

    <a href="https://github.com/megadotnet/ironframework" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="jumbotron">
    <h3>Iron Framwork demo Web App</h3>
    <div class="col-md-5">
        <h4>@Html.ActionLink("Get Employee by WebAPI", "Index", "Employee")</h4>
        <h4>@Html.ActionLink("Get Employee by WCF", "Index", "EmployeeWCF")</h4>
    </div>
</div>