<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <!--
    <add assembly="NLog.Elmah"/>-->
    <add assembly="NLog.Web"/>
  </extensions>
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  <targets async="true">
    <!--<target xsi:type="Elmah"
            name="elmahWithLogLevelAsType"
            layout="${longdate} ${uppercase:${level}} ${message}"
            LogLevelAsType="true"/>-->
    <target name="elastic" xsi:type="ElasticSearch" uri="http://192.168.0.103:9200/"  index="DevLogging" documentType="logevent">
    </target>
      <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
       layout="${longdate} ${logger} ${uppercase:${level}} ${aspnet-user-identity} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />
    <target xsi:type="File" name="apiclient" fileName="${basedir}/logs/${shortdate}apiclient.log"
       layout="${longdate} ${logger} ${uppercase:${level}} ${aspnet-user-identity} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="DataServiceClient.LoggingHandler" minlevel="Trace" writeTo="apiclient" />
    <!--<logger name="*" minlevel="Trace" writeTo="elastic" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="elmahWithLogLevelAsType" />-->
  </rules>
</nlog>