# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

#nuget package
packages/
!packages/repositories.config

#Visual Studio files
*.user
*.suo
*.log
/source/.vs/config/applicationhost.config
/source/IronFrameworkVS2015.sln.GhostDoc.xml
/source/IronFrameworkVS2013.sln.GhostDoc.xml
/source/LoadTest/WebTest1.fc509931-785e-401b-9be6-f7a38f68a8ba.rec.webtestresult
/source/.vs/IronFrameworkVS2017/v15/sqlite3/storage.ide
/source/.vs/IronFrameworkVS2017/v15/Server/sqlite3
/source/.vs/IronFrameworkVS2015/v15/Server/sqlite3
/source/Utility/IronFramework.Utility.1.0.0.nupkg
/source/IronFramework.TestCommon/IronFramework.TestCommon.1.0.0.nupkg
