# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

#nuget package
packages/
!packages/repositories.config

#Visual Studio files
*.user
*.suo
*.log
/source/.vs/config/applicationhost.config
/source/IronFrameworkVS2015.sln.GhostDoc.xml
/source/IronFrameworkVS2013.sln.GhostDoc.xml
