<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UITestProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UITestProject.Properties.Settings>
            <setting name="ChromeExePath" serializeAs="String">
                <value>C:\Program Files (x86)\Google\Chrome\chrome.exe</value>
            </setting>
            <setting name="FirefoxExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OperaExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IeExePath" serializeAs="String">
                <value>C:\Program Files\Internet Explorer\iexplore.exe</value>
            </setting>
        </UITestProject.Properties.Settings>
    </userSettings>
</configuration>