USE [master]
GO

CREATE DATABASE [LogDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LogDb', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LogDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LogDb_log', FILENAME = N'E:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LogDb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LogDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LogDb]
GO
/****** Object:  Table [dbo].[LogApi]    Script Date: 2018/3/13 星期二 14:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogApi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[Level] [varchar](100) NOT NULL,
	[Logger] [varchar](1000) NOT NULL,
	[Message] [varchar](3600) NOT NULL,
	[UserId] [int] NULL,
	[Exception] [varchar](3600) NULL,
	[StackTrace] [varchar](3600) NULL,
 CONSTRAINT [PK_LogApi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
