<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  <targets async="true">
    <target name="elastic" xsi:type="ElasticSearch" uri="http://192.168.0.103:9200/"  index="DevLogging" documentType="logevent">
    </target>
      <target xsi:type="File" name="f" fileName="${basedir}/WebAPIlogs/${shortdate}.log"
       layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />
    <target xsi:type="File" name="apitrace" fileName="${basedir}/WebAPIlogs/${shortdate}ApiTrace.log"
         archiveFileName="${basedir}/WebAPIlogs/archives/apiTracelog.{#}.txt"
        archiveEvery="Hour"
        maxArchiveFiles="24"
        archiveNumbering="DateAndSequence"
        concurrentWrites="true"
 layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />
    <target xsi:type="File" name="api" fileName="${basedir}/WebAPIlogs/${shortdate}Api.log"
         archiveFileName="${basedir}/WebAPIlogs/archives/apilog.{#}.txt"
        archiveEvery="Hour"
        maxArchiveFiles="24"
        archiveNumbering="DateAndSequence"
        concurrentWrites="true"
 layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />

    <!--http://blog.evizija.si/rest-web-api-logging-using-nlog/-->
    <target name="database" type="Database" connectionString="Data Source=.;Initial Catalog=LogDb;Integrated Security=True;MultipleActiveResultSets=True; ">
      <commandText>
        insert into LogApi ([TimeStamp], [Level], Logger, [Message], UserId, Exception, StackTrace)
        values
        (@TimeStamp, @Level, @Logger, @Message,
        case when len(@UserID) = 0 then null
        else @UserId
        end,
        @Exception, @StackTrace);
      </commandText>
      <parameter name="@TimeStamp" layout="${date}"/>
      <parameter name="@Level" layout="${level}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@UserId" layout="${mdc:user_id}"/>
      <parameter name="@Exception" layout="${exception}"/>
      <parameter name="@StackTrace" layout="${stacktrace}"/>
      <dbProvider>System.Data.SqlClient</dbProvider>
    </target>
    <target xsi:type="File" name="throttle" fileName="${basedir}/WebAPIlogs/${shortdate}Throttle.log"
 layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="f,database" />
    <!--<logger name="*" minlevel="Trace" writeTo="elastic" />-->
    <logger name="LoggingTracer" minlevel="Trace" writeTo="apitrace" />
    <logger name="LogActionWebApiFilter" minlevel="Trace" writeTo="api" />
    <logger name="TracingThrottleLogger" minlevel="Debug" writeTo="throttle" />
  </rules>
</nlog>