<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  <targets async="true">
    <target name="elastic" xsi:type="ElasticSearch" uri="http://192.168.0.103:9200/"  index="DevLogging" documentType="logevent">
    </target>
      <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
       layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace,method:maxInnerExceptionLevel=5:innerFormat=ToString}" />
    <!--http://blog.evizija.si/rest-web-api-logging-using-nlog/-->
    <target name="database" type="Database" connectionString="Data Source=.;Initial Catalog=LogDb;Integrated Security=True;MultipleActiveResultSets=True; ">
      <commandText>
        insert into LogApi ([TimeStamp],[Level],Logger, [Message], UserId, Exception, StackTrace) values (@TimeStamp, @Level, @Logger, @Message,
        case when len(@UserID) = 0 then null
        else @UserId
        end,
        @Exception, @StackTrace);
      </commandText>
      <parameter name="@TimeStamp" layout="${date}"/>
      <parameter name="@Level" layout="${level}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@UserId" layout="${mdc:user_id}"/>
      <parameter name="@Exception" layout="${exception}"/>
      <parameter name="@StackTrace" layout="${stacktrace}"/>
      <dbProvider>System.Data.SqlClient</dbProvider>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="f" />
    <!--<logger name="*" minlevel="Trace" writeTo="elastic" />-->
  </rules>
</nlog>