@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about Iron Framework visit <a href="https://github.com/megadotnet/ironframework" title="Iron Framework" target="_blank">Iron Framework</a>.
</p>
