@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about Iron Framework visit <a href="http://code.google.com/p/ironframework/" title="Iron Framework">Iron Framework</a>.
</p>
